@import "../../styles/variables.scss";
@import "bootstrap/scss/mixins";

.events-container {
  margin-top: 80px !important;
  justify-content: center;
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }
  padding-bottom: 15px;
}
.events-img {
  width: 430px;
  @include media-breakpoint-down(md) {
    width: 350px;
  }
}
.events-title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 25px;
  text-align: center;
  @include media-breakpoint-down(md) {
    text-align: left;
  }
}
.events-textbox {
  width: 705px;
  line-height: 24px;
  @include media-breakpoint-down(md) {
    width: 360px;
  }
}
