@import "../../styles/variables.scss";
@import "bootstrap/scss/mixins";

.contact-icons {
  font-size: 20px;
  @include media-breakpoint-down(lg) {
    font-size: 15px;
  }
  margin-top: 80px;
}
.underline {
  width: 430px;
  @include media-breakpoint-down(lg) {
    width: 260px;
  }
}
.contact-page-title {
  font-size: 50px;
  font-weight: 600;
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 48px;
  margin-right: 48px;
  @include media-breakpoint-down(lg) {
    margin: 0;
  }
  p {
    @include media-breakpoint-down(lg) {
      margin-top: 10px;
    }
  }
}
iframe {
  height: 600px;
  width: 1100px;
  display: flex;
  @include media-breakpoint-down(lg) {
    height: 300px;
    width: 360px;
  }
}
