.card {
  width: 22rem;
}
.card-body {
  p {
    margin: 0;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
// .yachts {
//   padding: 0 100px;
// }
.icons {
  p {
    font-size: 14px;
  }
}

.card-title {
  font-weight: 700;
}
a {
  color: white;
  text-decoration: none;
}
