@import "../../styles/variables.scss";
@import "bootstrap/scss/mixins";

.about-us-text {
  padding: 100px;
  font-size: 18px;
  @include media-breakpoint-down(lg) {
    padding: 20px;
  }
}

.about-us-img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}
